/*******Layouts*****/

body {
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    background: #f2f2f2;
}

#container{
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
}

#marca{
    height: 200px;
    text-align: center;
    background: #225992 url(../imagens/cabecalho2.jpg) center;
    line-height: 200px;
}

#conteudo{
    width: 75%;
    float: right;
}

#conteudo-principal{
    width: 64%;
    float: left;
}

#conteudo-secundario{
    width: 36%;
    float: right;
    background: #5f5f5f;
}

.img-noticia{
    width: 90%;
    height: 70%;
}

/*
#imagem{
    width: 60%;
    height: 50%;
}
*/

#navegacao {
    width: 23%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #535353;
   
}

#navegacao ul {
    list-style: none;
}

ul a{
    display: inline;
    width: 200px;
    height: 40px;
    color: rgb(255, 255, 255);
    right: 20px;
    text-indent: 40px;
    line-height: 40px;
    text-decoration: none;
}

li a:hover {
    display: block;
    width: 95%;
    height: 40px;
    background: #dfdfdf;
    color: #848484;
}

ul #atual a{
    display: block;
    width: 95%;
    height: 40px;
    background: #dfdfdf;
    color: #848484;
}

li a{
    text-decoration: none;
}


#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}
