@keyframes animacao{
    from{
        background: radial-gradient( rgb(255, 131, 131), rgb(255, 133, 237));
    }
    to{
        background: radial-gradient( rgb(246, 31, 31), rgb(248, 24, 214));
    }
}


#caixa{
    margin: 20px;
    padding: 20px;
    background: radial-gradient( rgb(255, 131, 131), rgb(255, 133, 237));
    width: 300px;
    height: 300px;   
    text-align: center;
    box-shadow: 10px 10px black;
    animation-name: animacao;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 7;
}

h1{
    text-shadow: 5px 4px rgba(0, 0, 0, 0.423);
}

